<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
</head>
<body>
	<div>登录成功！</div>
	<div><input type="submit" id="get_userinfo" onclick="javascript:getUserInfo();" value="从资源服务器获取用户昵称" ></input></div>
    <script type="text/javascript">
  //<![CDATA[
	    var createAjax = function() {
		    var xhr = null;
		    try {
		        xhr = new ActiveXObject("microsoft.xmlhttp");
		    } catch (e1) {
		        try {
		            xhr = new XMLHttpRequest();
		        } catch (e2) {
		            alert("您的浏览器不支持ajax，请更换！");
		        }
		    }
		    return xhr;
		};
		
	    var ajax = function(c) {
			var conf = c || {};
		    var type = conf.type || "get";
		    var url = conf.url;
		    var data = conf.data;
		    var dataType = conf.dataType || "text";
		    var success = conf.success;
		        
		    var xhr = createAjax();
		    xhr.open(type, url, true);
	        xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
		    if (type == "GET" || type == "get") {
		        xhr.send(null);
		    } else if (type == "POST" || type == "post") {
		        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
		        xhr.send(data);
		    }
		    
		    xhr.onreadystatechange = function() {
		        if (xhr.readyState == 4 && xhr.status == 200) {
		            if(dataType == "text"||dataType=="TEXT") {
		                if (success != null){
		                    success(xhr.responseText);
		                }
		            }else if(dataType=="xml"||dataType=="XML") {
		                if (success != null){
		                    success(xhr.responseXML);
		                } 
		            }else if(dataType=="json"||dataType=="JSON") {
		                if (success != null){
		                    success(eval("("+xhr.responseText+")"));
		                }
		            }
		        }
		    };
		};
		
    	function getUserInfo() {
    		ajax({
			    type: "get",
			    url: "http://localhost:8001/userinfo.html",
			    dataType:"json",
			    success: function(data){
			    	document.write(data);
			    }
			});
    	}
    	//]]>
    </script>
</body>
</html>